<table class="table table-hover">
    <thead>
        <tr>
            <th>Adresa</th>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Telefon</th>
            <th>Datum postavljanja</th>
            <th>Smestaj je aktivan</th>
            <th><button class="btn btn-primary">Dodaj smestaj</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Marka Kraljevica 1</td>
            <td>Privatni Smestaj</td>
            <td>Aliquam faucibus semper sodales. Aenean gravida tempus maximus.</td>
            <td>061/457-78-95</td>
            <td>2015-11-14 - 19:25:55</td>
            <td>
            	<div class="checkbox margin-null">
 					<label><input type="checkbox" value="">Aktivno</label>
				</div>
			</td>
        </tr>
        <tr>
            <td>Marka Kraljevica 1</td>
            <td>Privatni Smestaj</td>
            <td>Aliquam faucibus semper sodales. Aenean gravida tempus maximus.</td>
            <td>061/457-78-95</td>
            <td>2015-11-14 - 19:25:55</td>
            <td>
            	<div class="checkbox margin-null">
 					<label><input type="checkbox" value="">Aktivno</label>
				</div>
			</td>
        </tr>
        <tr>
            <td>Marka Kraljevica 1</td>
            <td>Privatni Smestaj</td>
            <td>Aliquam faucibus semper sodales. Aenean gravida tempus maximus.</td>
            <td>061/457-78-95</td>
            <td>2015-11-14 - 19:25:55</td>
            <td>
            	<div class="checkbox margin-null">
 					<label><input type="checkbox" value="">Aktivno</label>
				</div>
			</td>      
        </tr>
        <tr>
            <td>Marka Kraljevica 1</td>
            <td>Privatni Smestaj</td>
            <td>Aliquam faucibus semper sodales. Aenean gravida tempus maximus.</td>
            <td>061/457-78-95</td>
            <td>2015-11-14 - 19:25:55</td>
            <td>
            	<div class="checkbox margin-null">
 					<label><input type="checkbox" value="">Aktivno</label>
				</div>
			</td>
        </tr>
        <tr>
            <td>Marka Kraljevica 1</td>
            <td>Privatni Smestaj</td>
            <td>Aliquam faucibus semper sodales. Aenean gravida tempus maximus.</td>
            <td>061/457-78-95</td>
            <td>2015-11-14 - 19:25:55</td>
            <td>
            	<div class="checkbox margin-null">
 					<label><input type="checkbox" value="">Aktivno</label>
				</div>
			</td>
        </tr>
    </tbody>
</table>