<ion-view>
  <ion-content class="scroll-content ionic-scroll">
    <ion-list class="itemList" can-swipe="listCanSwipe">
        <ion-item ng-repeat="job in jobs track by $index" class="item-avatar-right item-text-wrap pozadina" href="#/get-a-job-single-view/{{job.objectId}}/">
            <img src="img/nadjiPosao.png" />
            <div class="textPrivatni">
                <div class="textPrivatniSmestaj"><div><b>{{job.naziv}}</b></div></div>
                <br><div class="textPrivatniSmestaj"><div>{{job.adresa}}</div></div></br>
                <div class="textPrivatniSmestaj"><div>{{job.telefon}}</div></div>
            </div>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
