<ion-view>
  <ion-content class="scroll-content ionic-scroll">
    <ion-list class="listaPocetna">
      <ion-item class="item" href="#/humanitarian-aid">
        <div><img class="slikaPocetna" src="img/humanitarnaPomoc.png"><div class="textPocetna">Humanitarian aid</p></div></div>
      </ion-item>
      <ion-item class="item" href="#/accommodation">
        <div><img class="slikaPocetna" src="img/smestaj.png"><div class="textPocetna">Accommodation</div></div>
      </ion-item>
      <ion-item class="item" href="#/transport">
        <div><img class="slikaPocetna" src="img/transport.png"><div class="textPocetna">Transport</p></div></div>
      </ion-item>
      <ion-item class="item" href="#/get-a-job">
        <div><img class="slikaPocetna" src="img/nadjiPosao.png"><div class="textPocetna">Get a job</p></div></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
